/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/**
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */

.cf {
  *zoom: 1;
}

/* ================================================ */

/* ================= General styles ================ */

/* ================================================ */

*,
*:after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #131313;
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 400;
}

.left {
  float: left;
}

.right {
  float: right;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  width: 90%;
}

svg {
  color: white;
}

/* ================================================ */

/* ================= header styles ================ */

/* ================================================ */

.header {
  background-color: #212121;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  position: relative;
  border-bottom: 1px solid #585f5a;
}

.logo {}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu>li {
  margin-right: 10px;
  padding: 5px;
  /* position: relative; */
}

.menu .caret {
  display: inline-block;
  position: absolute;
  top: 28px;
  right: 0px;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  margin-left: 2px;
  content: '';
}

.menu .drop-menu {
  position: absolute;
  right: -9000px;
  /* right: 0; */
  min-width: 300px;
  background-color: #212121;
  display: block;
}

.menu .drop-menu>li {
  padding: 5px;
  margin-top: 10px;
  min-width: 300px;
}

.menu>li.drop:hover .drop-menu {
  position: absolute;
  right: 0;
}

.search-box-phone {
  position: absolute;
  left: -9000px;
  bottom: -30px;
  width: 100%;
}

.search-box-phone input {
  border: none;
  outline: none;
  background-color: #212121;
  width: 100%;
  height: 30px;
  color: white;
  padding: 10px;
}

.dropmenu-search:hover .search-box-phone {
  position: absolute;
  left: 0;
  right: 0;
}

/* hero section styles */

.hero {
  background: url('../images/hero.jpg');
  background-size: cover;
  background-position: top;
  padding-top: 20px;
  /* position: relative; */
}

.featured {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  background: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: inline-block; */
  margin-left: 20px;
  margin-right: 20px;
  /* position: absolute;
  top: 20px;
  left: 20px; */
  /* z-index: 1000; */
}

.hero-content {
  padding: 50px 30px 40px;
  /* position: relative; */
}

/* .featured-photo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
} */

.not-in-phone {
  display: none;
}






/* ================================================ */
/* ========== Trending sections styles ============ */
/* ================================================ */


/* main {
  width: 85%;
  margin: 0 auto;
} */

.trend {
  background-color: #212121;
  margin-top: 20px;
  padding: 10px;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px; 
}

.fa-chart-line {
  color: #2196F3;
}

.title .trend-header:before {
  /* background-image:  */
}

.title .more {
  display: flex;
  padding: 3px 2px 2px 5px;
  background: #444;
  line-height: 1.7;
  align-items: center;
  justify-content: center;
  border: 1px solid #111;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  font-weight: 100;
}

.title .more {
  vertical-align: middle;

}


.video {
  margin-bottom: 50px;
  width: 100%;
  display: block;
}

.video:last-of-type {
  margin-bottom: 0;
}

.trend-cover {
  width: 100%;
  display: inline-block;
}

.trend .video .overlay {
  position: relative;
}

.trend .video .overlay svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(2);
  opacity: 0;
  transition: all .5s ease-in-out;
}

.trend .video .overlay:hover svg {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.5);

}

/* lastest videos section */



/* ================================================ */
/* ================= Footer styles ================ */
/* ================================================ */

.footer {
  text-align: center;
  padding: 60px 0;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .footer-menu {
  padding: 30px 0;
  
}

.footer .footer-menu li {
  display: inline-block;
  margin-right: 10px;
}

.footer hr {
  background: #ccc;
  height: 1px;
  width: 80%;
  margin: 10px auto;
  /* border: 1px solid #ccc; */
}

.footer .footer-lang {
  margin-top: 20px;
}

.footer .footer-lang li {
  display: inline-block;
  margin-right: 10px;
}


@media screen and (min-width: 461px) {
  .video {
    width: 45%;
    display: inline-block;
    margin-right: 4%;
  }



section.cat {
  width: 100%;
}
.latest-videos .video {
  /* display: inline-block; */
}

.latest-videos > .video:first-of-type {
  width: 70% !important;
  height: 100%;
  float: left;
}
.latest-left {
  float: right;
  width: 26%;
}

.latest-left .video {
  width: 100%;
  margin-bottom: 10px;
}
.latest-left .latest-videos {
  float: none;
}

#video-latest {
  width: 70%;
}
}

@media screen and (min-width: 992px) {
  .cat {
    width: 45%;
    float: left;
    /* margin-left: 4%; */
  }

  .category .video {
    width: 23%;
    margin-right: 1%;
  }

}

@media screen and (max-width: 885px) {
  .updown-menu li span {
    display: none;
  }
}

@media screen and (min-width: 761px) {
  /* ================================================ */
  /* ================= header styles ================ */
  /* ================================================ */
  .phone-only {
    display: none;
  }
  .not-in-phone {
    display: block;
  }
  .header {
    background-color: #212121;
  }
  /* top nav */
  .header-top {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    display: block;
    margin-right: 10px;
  }
  .search-box {
    background: #3c3d3e;
    padding: 7px;
    width: 39%;
    border-radius: 4px;
    margin-left: -24%;
  }
  .search-bar {
    border: none;
    background: none;
    outline: none;
  }
  .login-icon {
    position: relative;
  }
  .login-icon .feather:after {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 26px;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: '';
  }
  .guest-view>li {
    display: inline-block;
  }
  .guest-view>li:first-of-type {
    border-radius: 50%;
    background: #4285f4;
    width: 25px;
    height: 25px;
  }
  .guest-view li svg {
    fill: #d9e7fd;
  }
  .navbar-top {
    display: flex;
    justify-content: space-between;
  }
  .navbar-top .menu {
    display: flex;
    justify-content: space-between;
  }
  .navbar-top .menu>li {
    padding: 10px;
    margin-left: 15px;
  }
  .navbar-top .menu>li:first-of-type {
    padding-left: 0;
    margin-left: 0;
  }
  .navbar-top .menu>li:last-of-type {
    padding-right: 0;
    margin-right: 0;
  }
  .menu .sub-menu {
    position: absolute;
    left: -9000px;
    background-color: #212121;
    padding-top: 30px;
  }
  .menu .sub-menu>li {
    white-space: nowrap;
    padding: 15px;
  }
  .menu .sub-menu>li:hover {
    background: #333;
  }
  .menu li.cat {
    position: relative;
  }
  .menu li.cat:hover .sub-menu {
    position: absolute;
    left: 0;
  }
  .updown-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .updown-menu li {
    display: block;
    
  }
  .updown-menu li svg {
    width: 17px;
    height: 17px;
    vertical-align: middle;
  }
  .btn {
    display: block;
    border-radius: 20px;
    font-size: 14px;
    padding: 3px 15px;
    text-align: center;
    line-height: normal;
    margin-left: 10px;
  }
  .btn-upload {
    background-color: #d84c47;
  }

  .btn-import {
    background-color: #2ec0bc;
  }
}