* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* hide element from screen readers */
.hidden {
  display: none;
}

/* hide element only from the view */
.invisible {
  position: absolute;
  left: -10000px;
}

.bold {
  font-weight: bold;
}

.btn {

}

.btn-blue {

}

.feather {

}

.feather-plus {

}

.feather-play-circle {

}

.feather-info {

}

.ahead {

}
/* End of General style */

.profile {
}

.profile--header {
  width: 100vw;
  /* padding-top: 150px;  */
}

.profile--cover {
  background-image: url('https://playtubescript.com/upload/photos/d-cover.jpg');
  background-repeat: no-repeat;
  height: 150px;
}

.profile--main-info {
  /* margin: 150px auto 0 auto; */
  background-color: red;
}

.profile--avatar {
  max-width: 90px;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.6);
}

.profile--username {

}

.profile--subscription {

}

.subscribe-amount {

}

.profile--nav {

}

.profile--videos {

}

.profile--video-wrapper {

}

.video-thumb {

}

.video-duration {

}

.video-title {

}

.video-info {

}

.profile--play-lists {

}

.play-list--thumb {

}

.play-list--count {

}

.play-list--title {

}

.profile--liked-videos {

}

.profile--about {

}

.about--bio {

}

.about--social-links {

}