/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */

.cf {
  *zoom: 1;
}




/* ================================================ */
/* ================= General styles ================ */
/* ================================================ */
*,
*:after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: darkgray;
  color: white;
}

.left {
  float: left;
}
.right {
  float: right;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* ================================================ */
/* ================= header styles ================ */
/* ================================================ */

.header {
  background-color: #212121;
}

/* top nav */

.header-top {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
}

.search-box {
  background: #3c3d3e;
  padding: 5px;
  width: 300px;
  border-radius: 3px;
  margin-left: -10%;
}

.search-bar {
  border: none;
  background: none;
  outline: none;
}


.login-icon {
  position: relative;
}

.login-icon .feather:after {
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 26px;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  /* border-top: 4px solid\9; */
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  vertical-align: middle;
  margin-left: 2px;
  content: '';
}


/* navbar styles */
/* 
.menu > li, .updown-menu > li {
  float: left;
}
*/


.navbar-top {
  display: flex;
  justify-content: space-between;
}

.navbar-top .menu {
  display: flex;
  justify-content: space-between;
}

.navbar-top .menu > li {
  padding: 10px;
  margin-left: 15px;
}

.navbar-top .menu > li:first-of-type {
  padding-left: 0;
  margin-left: 0;
}

.navbar-top .menu > li:last-of-type {
  padding-right: 0;
  margin-right: 0;
}


.menu .sub-menu {
  position: absolute;
  left: -9000px;
  background-color: #212121;
  padding-top: 30px;
}

.menu .sub-menu > li {
  white-space: nowrap;
  padding: 15px;
}

.menu .sub-menu > li:hover {
  background: #333;
}

.menu li.cat {
  position: relative;
}

.menu li.cat:hover .sub-menu {
  position: absolute;
  left: 0;
} 

.updown-menu {
  display: flex;
  justify-content: space-between;
}