.main-container {
  margin: 10px 29.5px;
  padding: 0 15px;
  content: "";
  display: table;
}
.video-container {
  width: 66.666667%;
  float: left;
}

.watch-container,
.video-comment {
  border-radius: 3px;
  background: #1c1c1c;
  box-shadow: 0 1px 0 0 #212121, 0 0 0 1px #212121;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
.video-description,
.video-comment {
  padding: 10px;
  color: #efefef;
}

.video-description {
  margin: 0 0 20px 0;
  padding: 0 5px;
}

.video-big-title {
  font-size: 20px;
  color: #202020;
  margin: 8px 0 12px 20px;
}

.video-big-title h1 {
  font-size: 24px;
  margin: 0;
  line-height: 1.3;
  font-weight: 400 !important;
  color: #eee;
}

.video-likes {
  color: #929292;
  display: flex;
  align-items: center;
}

.video-views {
  font-size: 15px;
  color: #fff !important;
  text-transform: lowercase;
  margin-left: 20px;
}

.video-info-element {
  width: 120px;
  text-align: right;
  position: relative;
  margin: 4px 10px;
}
.video-info-element .view-bar {
  width: 100%;
  text-align: right;
  position: absolute;
  right: 0;
  height: 4px;
  background-color: #dedede;
  color: #333;
  border-radius: 2px;
}

.video-likes .like-btn.active svg.feather-thumbs-down {
  color: #f44336;
  fill: #ffd8d5;
}

.video-likes .like-btn svg.feather {
  margin-top: 0;
  width: 18px;
  height: 18px;
}

.video-likes .like-btn {
  cursor: pointer;
  user-select: none;
}

.video-likes {
  margin-right: 20px;
}
.publisher-elment {
  margin: 5px 0;
  display: flex;
  align-items: center;
  padding: 5px 2px;
}

.publisher-elment .publisher-avatar img {
  width: 48px;
  height: 48px;
  margin-right: 20px;
  border-radius: 50%;
}

.publisher-avatar {
  margin-left: 20px;
}
.publisher-elment .publisher-name a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #eee;
}

.publisher-elment .publisher-name a:focus,
.publisher-elment .publisher-name a:hover {
  text-decoration: underline;
}

.publisher-subscribe-button {
  margin-left: auto;
  margin-right: 20px;
}

.publisher-subscribe-button span {
  background: #3590d9 !important;
  border-color: #5e99dc;
  border: 0;
  font-size: 14px;
  color: #eee;
  border-radius: 3px;
  margin-left: 6.5px;
  padding: 10px 12px;
  font-weight: 500;
}

.publisher-subscribe-button .btn-blue::before {
  content: "";
  display: block;
  position: absolute;
  left: 100%;
  margin-left: 5px;
  top: 50%;
  margin-top: -6px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-left-width: 0;
  border-right-color: #e1e1e1;
}

.video-options::before {
  content: "";
  display: block;
  height: 1px;
  width: 97%;
  background: #424242;
  margin: 10px 0 18px 10px;
}

.video-options button {
  padding: 5px 5px;
  margin: 0 0 0 20px;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: #fff;
}

.video-options button:hover,
.video-options button:focus {
  background: rgb(22, 22, 22);
}

.video-options button:nth-child(3) {
  margin-right: 20px;
}

.video-options {
  position: relative;
}

.video-published {
  margin-top: 18px;
  padding: 0 15px;
  color: #eee;
}

.watch-video-description {
  padding: 0 15px;
  max-height: 100px;
  overflow: hidden;
  position: relative;
}

.watch-video-description p {
  margin: 10px 0;
  color: #eee;
  word-wrap: break-word;
  font-size: 13px;
  line-height: 21px;
}

.video-published a {
  color: #04abf2;
}

.video-published a:hover {
  text-decoration: underline;
}

.video-show-description {
  margin: 10px auto;
  width: 150px;
  padding: 5px 10px;
  border-color: #424242;
  border-image: linear-gradient(to top, #131313 0, #131313 100%);
  color: #fff;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #d3d3d3;
  background-color: #131313;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  font-size: 12px;
  transition: all 0.1s ease;
  margin-bottom: 20px;
}

.video-show-description:hover {
  background-color: #000000;
  background-image: linear-gradient(to top, #000000 0, #000000 100%);
}

.comment-header {
  position: relative;
}

.comments-sort-menu {
  background: #212121 !important;
  border-color: #444 !important;
  color: #eee;
  position: absolute;
  right: 0;
  top: 35px;
  z-index: 99999;
  border: 1px solid;
}

.comments-sort-menu li {
  padding: 10px;
}

.comments-sort-menu li:hover {
  background: #333 !important;
}

.add-comment {
  margin: 20px 0;
  position: relative;
}
.add-comment img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.add-comment textarea {
  width: 79%;
  border-radius: 25px;
  background: #161616;
  padding: 7px 26px;
  margin-left: 10px;
  outline: none;
  color: #fefefe;
}

.add-comment button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 24px 5px;
  position: absolute;
  bottom: 2px;
  outline: 0;
  color: #fff;
  cursor: pointer;
  border: #3f97dd;
}
.material-icons {
  cursor: pointer;
}
.add-comment svg {
  width: 10px;
  height: 10px;
}

.user-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.sub-comments{
  padding-top: 15px;
  padding-left: 50px;

}

.main-comment {
  position: relative;
  height: 75px;
}
.user-name a {
  color: #efefef;
}
.user-name a:hover {
  text-decoration: underline;
}
.user-name {
  position: absolute;
  top: 5px;
  left: 60px;
}

.user-comment {
  position: absolute;
  top: 30px;
  left: 60px;
}

.vote-comment {
  position: absolute;
  top: 25px;
}
aside {
  width: 30.33333333%;
  float: right;
  background: #1c1c1c;
  border-radius: 8px;
  margin: 0 -10px;
  padding: 0 0 0 15px;
}

.video-player video {
  width: 100%;
}

.video-thumb img {
  width: 100%;
}

.video-thumb {
  width: 40%;
}

.video-title,
.video-publisher,
.video-views {
  width: 55%;
  margin: 0px 0 3px 0px;
}

.video-title a {
  color: #fefefe;
}

.video-views,
.video-publisher {
  font-size: 0.8em;
  color: #fefefe;
}

.video-next {
  color: #fefefe;
}

.next-text,
.checkbox {
  margin: 10px 10px -5px 0;
  font-size: 1.2em;
}

.next-line::after {
    content: "";
    display: block;
    height: 1px;
    width: 97%;
    background: #424242;
    margin: 18px 0 18px 0px;
}

.embed-text textarea {
  width: 95%;
  margin: 10px 18px 0 18px;
  height: 47px;
  resize: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px 0px;
  background: #0f0f0f;
}

.share-video .fa {
  height: 15px;
  width: 15px;
  padding: 15px;
  margin: 10px 5px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
}

.share-video .fa-facebook {
  margin-left: 30px;
}

.share-video .fa:hover {
  border: 1px solid #5e99dc;
}

.report-pop h2 {
  font-size: 15px;
  text-transform: uppercase;
}

.report-pop p {
  font-size: 13px;
  color: #666;
  margin: 6px 0 0 12px;
}

.report-pop  textarea {
  width: 95%;
  padding: 20px 0 20px 5px;
  margin: 9px;
  background: #161616;
  color: #fff;
}

.button-pop .submit , .button-pop .create-playlist-btn {
  background-color: rgb(38, 106, 171);
  padding: 7px 20px;
  margin: 0 9px;
}

.button-pop .submit:hover , .button-pop .create-playlist-btn:hover{
  background-color: rgb(51, 113, 172);
}

.button-pop .cansle-report , .button-pop .cansle-create-playlist{
  background-color: #898989;
  padding: 7px 20px;
  margin: 0 9px;
}

.button-pop .cansle-report:hover , .button-pop .cansle-create-playlist{
  background-color: #6d6c6c;
}

.report-pop , .addto-pop , .create-playlist-pop{
  background:  #0b0b0b;
  width: 350px;
  position: absolute;
  right: 30px;
  top: 8px;
  z-index: 99;
  padding: 10px;
}

.addto-pop p {
  text-align: center;
  padding: 46px;
}

.addto-pop h2 i {
  margin: 0 0 0 12px;
}

.addto-pop h2 {
  font-size: 15px;
  text-transform: uppercase;
}

#video-views {
  margin-left: 20px;
}

.create-playlist-pop input , .create-playlist-pop textarea , .create-playlist-pop select {
  width: 95%;
  padding: 9px;
  margin: 9px 0 9px;
  background: #121212;
  color: #fff;
}

.create-playlist-pop textarea  {
  height: 70px;
}

.create-playlist-pop select {
  width: 100%;
}

.button-pop button i {
  margin-right: 10px;
}
