
    <!-- start of trend section -->
    <section class="cat trend" id="trend">
      <div class="container-something">
        <div class="title">
          <h2 class="trend-header"><i class="fas fa-chart-line"></i> Trending</h2>
          <a class="more" href="#">Explore more <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a>
        </div>
        <article class="video">
          <a href="">
            <div class="overlay">
              <img class="trend-cover" src="https://i.ytimg.com/vi/3zY-gvaKqII/mqdefault.jpg" alt="video cover">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
            </div>
          </a>
          <h3><a href="#">Britain Got Talent translated</a></h3>
          <p>Abdallah</p>
          <p><span>27 Views</span> . <span>1 day ago</span></p>
        </article>
        <article class="video">
          <a href="">
            <div class="overlay">
              <img class="trend-cover" src="https://i.ytimg.com/vi/3zY-gvaKqII/mqdefault.jpg" alt="video cover">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
            </div>
          </a>
          <h3>Britain Got Talent translated</h3>
          <p>Abdallah</p>
          <p><span>27 Views</span> . <span>1 day ago</span></p>
        </article>
        <article class="video">
          <a href="">
            <div class="overlay">
              <img class="trend-cover" src="https://i.ytimg.com/vi/3zY-gvaKqII/mqdefault.jpg" alt="video cover">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
            </div>
          </a>
          <h3>Britain Got Talent translated</h3>
          <p>Abdallah</p>
          <p><span>27 Views</span> . <span>1 day ago</span></p>
        </article>
        <article class="video">
          <a href="">
            <div class="overlay">
              <img class="trend-cover" src="https://i.ytimg.com/vi/3zY-gvaKqII/mqdefault.jpg" alt="video cover">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
            </div>
          </a>
          <h3>Britain Got Talent translated</h3>
          <p>Abdallah</p>
          <p><span>27 Views</span> . <span>1 day ago</span></p>
        </article>
      </div>
    </section>
    <!-- End of trend section -->

    <!-- start of Top-Videos section -->
    <section class="cat trend" id="trend">
      <div class="container-something">
        <div class="title">
          <h2 class="trend-header"><i class="fas fa-chart-line"></i> Trending</h2>
          <a class="more" href="#">Explore more <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a>
        </div>
        <article class="video">
          <a href="">
            <div class="overlay">
              <img class="trend-cover" src="https://i.ytimg.com/vi/3zY-gvaKqII/mqdefault.jpg" alt="video cover">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
            </div>
          </a>
          <h3><a href="#">Britain Got Talent translated</a></h3>
          <p>Abdallah</p>
          <p><span>27 Views</span> . <span>1 day ago</span></p>
        </article>
        <article class="video">
          <a href="">
            <div class="overlay">
              <img class="trend-cover" src="https://i.ytimg.com/vi/3zY-gvaKqII/mqdefault.jpg" alt="video cover">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
            </div>
          </a>
          <h3>Britain Got Talent translated</h3>
          <p>Abdallah</p>
          <p><span>27 Views</span> . <span>1 day ago</span></p>
        </article>
        <article class="video">
          <a href="">
            <div class="overlay">
              <img class="trend-cover" src="https://i.ytimg.com/vi/3zY-gvaKqII/mqdefault.jpg" alt="video cover">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
            </div>
          </a>
          <h3>Britain Got Talent translated</h3>
          <p>Abdallah</p>
          <p><span>27 Views</span> . <span>1 day ago</span></p>
        </article>
        <article class="video">
          <a href="">
            <div class="overlay">
              <img class="trend-cover" src="https://i.ytimg.com/vi/3zY-gvaKqII/mqdefault.jpg" alt="video cover">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
            </div>
          </a>
          <h3>Britain Got Talent translated</h3>
          <p>Abdallah</p>
          <p><span>27 Views</span> . <span>1 day ago</span></p>
        </article>
      </div>
    </section>

      <!-- End of Top videos section -->

       <!-- start of latest section -->
    <section class="cat trend latest-videos cf" id="latest">
      <div class="container-something">
        <div class="title">
          <h2 class="trend-header"><i class="fas fa-video"></i>Latest videos</h2>
          <a class="more" href="#">Explore more <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a>
        </div>
        <article id="video-latest" class="video">
          <a href="">
            <div class="overlay">
              <img class="trend-cover" src="https://i.ytimg.com/vi/3zY-gvaKqII/mqdefault.jpg" alt="video cover">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
            </div>
          </a>
          <h3><a href="#">Britain Got Talent translated</a></h3>
        </article>
        <div class="latest-left">
        <article class="video">
          <a href="">
            <div class="overlay">
              <img class="trend-cover" src="https://i.ytimg.com/vi/3zY-gvaKqII/mqdefault.jpg" alt="video cover">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
            </div>
          </a>
          <h3>Britain Got Talent translated</h3>
        </article>
        <article class="video">
          <a href="">
            <div class="overlay">
              <img class="trend-cover" src="https://i.ytimg.com/vi/3zY-gvaKqII/mqdefault.jpg" alt="video cover">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
            </div>
          </a>
          <h3>Britain Got Talent translated</h3>
        </article>
        <article class="video">
          <a href="">
            <div class="overlay">
              <img class="trend-cover" src="https://i.ytimg.com/vi/3zY-gvaKqII/mqdefault.jpg" alt="video cover">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
            </div>
          </a>
          <h3>Britain Got Talent translated</h3>
        </article>
      </div>
      </div>
    </section>

      <!-- End of latest videos section -->


      <!-- start of Category section -->
    <section class="cat trend category" id="category">
      <div class="container-something">
        <div class="title">
          <h2 class="trend-header"><i class="fas fa-chart-line"></i> Trending</h2>
          <a class="more" href="#">Explore more <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a>
        </div>
        <article class="video">
          <a href="">
            <div class="overlay">
              <img class="trend-cover" src="https://i.ytimg.com/vi/3zY-gvaKqII/mqdefault.jpg" alt="video cover">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
            </div>
          </a>
          <h3><a href="#">Britain Got Talent translated</a></h3>
          <p>Abdallah</p>
          <p><span>27 Views</span> . <span>1 day ago</span></p>
        </article>
        <article class="video">
          <a href="">
            <div class="overlay">
              <img class="trend-cover" src="https://i.ytimg.com/vi/3zY-gvaKqII/mqdefault.jpg" alt="video cover">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
            </div>
          </a>
          <h3>Britain Got Talent translated</h3>
          <p>Abdallah</p>
          <p><span>27 Views</span> . <span>1 day ago</span></p>
        </article>
        <article class="video">
          <a href="">
            <div class="overlay">
              <img class="trend-cover" src="https://i.ytimg.com/vi/3zY-gvaKqII/mqdefault.jpg" alt="video cover">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
            </div>
          </a>
          <h3>Britain Got Talent translated</h3>
          <p>Abdallah</p>
          <p><span>27 Views</span> . <span>1 day ago</span></p>
        </article>
        <article class="video">
          <a href="">
            <div class="overlay">
              <img class="trend-cover" src="https://i.ytimg.com/vi/3zY-gvaKqII/mqdefault.jpg" alt="video cover">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
            </div>
          </a>
          <h3>Britain Got Talent translated</h3>
          <p>Abdallah</p>
          <p><span>27 Views</span> . <span>1 day ago</span></p>
        </article>
        <article class="video">
          <a href="">
            <div class="overlay">
              <img class="trend-cover" src="https://i.ytimg.com/vi/3zY-gvaKqII/mqdefault.jpg" alt="video cover">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
            </div>
          </a>
          <h3><a href="#">Britain Got Talent translated</a></h3>
          <p>Abdallah</p>
          <p><span>27 Views</span> . <span>1 day ago</span></p>
        </article>
        <article class="video">
          <a href="">
            <div class="overlay">
              <img class="trend-cover" src="https://i.ytimg.com/vi/3zY-gvaKqII/mqdefault.jpg" alt="video cover">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
            </div>
          </a>
          <h3>Britain Got Talent translated</h3>
          <p>Abdallah</p>
          <p><span>27 Views</span> . <span>1 day ago</span></p>
        </article>
        <article class="video">
          <a href="">
            <div class="overlay">
              <img class="trend-cover" src="https://i.ytimg.com/vi/3zY-gvaKqII/mqdefault.jpg" alt="video cover">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
            </div>
          </a>
          <h3>Britain Got Talent translated</h3>
          <p>Abdallah</p>
          <p><span>27 Views</span> . <span>1 day ago</span></p>
        </article>
        <article class="video">
          <a href="">
            <div class="overlay">
              <img class="trend-cover" src="https://i.ytimg.com/vi/3zY-gvaKqII/mqdefault.jpg" alt="video cover">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
            </div>
          </a>
          <h3>Britain Got Talent translated</h3>
          <p>Abdallah</p>
          <p><span>27 Views</span> . <span>1 day ago</span></p>
        </article>
      </div>
    </section>
    <!-- End of Catagory section -->
