<div class="import__container">
  <form action="/import-vid-info" method="post">
    <input id="importLink" type="text" name="import-link">
    <button id="importBtn" class="import__button">Fetch Video</button>
  </form>
</div>