<div class="container">

  <nav class="navbar">
    <a href="/"><img src="./images/logo.png" alt="" class="logo"></a>
    <div class="search-box not-in-phone">
      <i class="fas fa-search"></i>
      <input type="search" id="searchBar" class="search-bar" placeholder="What are you going to watch!">
    </div>
    <ul class="menu">
      <li>
        <a href="">
          <svg fill="#009da0" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="feather feather-bulb"><path d="M12,6A6,6 0 0,1 18,12C18,14.22 16.79,16.16 15,17.2V19A1,1 0 0,1 14,20H10A1,1 0 0,1 9,19V17.2C7.21,16.16 6,14.22 6,12A6,6 0 0,1 12,6M14,21V22A1,1 0 0,1 13,23H11A1,1 0 0,1 10,22V21H14M20,11H23V13H20V11M1,11H4V13H1V11M13,1V4H11V1H13M4.92,3.5L7.05,5.64L5.63,7.05L3.5,4.93L4.92,3.5M16.95,5.63L19.07,3.5L20.5,4.93L18.37,7.05L16.95,5.63Z"></path>
          </svg>
        </a>
      </li>
      <li class="dropmenu-search phone-only"><a href="/login">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
      </a>
      <div class="search-box-phone phone-only">
        <input type="search" name="" id="" placeholder="Search for videos">
      </div>

      </li>
      <li class="drop"><a href="#" id="dropMenuIcon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
        <span class="caret"></span>
      </a>
      <ul class="drop-menu" id="dropMenu">
        {{#if user}}
          <li><a href="/logout">Logout</a></li>
          <li><a href="/{{userId}}"> My Channel</a></li>
        {{else}}
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Sign Up</a></li>
        {{/if}}
      </ul>
    </li>
    </ul>
  </nav>
</div>
<div class="navbar-top container not-in-phone">
  <ul class="menu">
    <li><a href="">Home</a></li>
    <li><a href="">Latest videos</a></li>
    <li><a href="">Top videos</a></li>
    <li><a href="">Trending</a></li>
    <li class="cat"><a href="">Categories</a>
      <ul class="sub-menu">
        <li><a href="">Film & Animation</a></li>
        <li><a href="">Cars & Vehicles</a></li>
        <li><a href="">Music</a></li>
        <li><a href="">Pets & Animals</a></li>
        <li><a href="">Sprots</a></li>
        <li><a href="">Travel & Events</a></li>
        <li><a href="">Gaming</a></li>
        <li><a href="">People & Blogs</a></li>
        <li><a href="">Comdey</a></li>
        <li><a href="">Entertainment</a></li>
        <li><a href="">News & Politics</a></li>
        <li><a href="">How-to & style</a></li>
        <li><a href="">Non-profits & Activisim</a></li>
      </ul>
    </li>
    <li><a href="">Articles</a></li>
  </ul>
  <ul class="updown-menu">
    <li>
      <a class="btn btn-upload" href="/upload-videol">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-upload"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="17 8 12 3 7 8"></polyline><line x1="12" y1="3" x2="12" y2="15"></line></svg>
        <span>Upload</span>
      </a>
    </li>
    <li>
      <a class="btn btn-import" href="/import-video">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download-cloud"><polyline points="8 17 12 21 16 17"></polyline><line x1="12" y1="12" x2="12" y2="21"></line><path d="M20.88 18.09A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.29"></path></svg>
        <span>Import</span>
      </a>
    </li>
  </ul>
</div>
