<!DOCTYPE html>
<html lang="en">
<head>
  {{>header}}
</head>
<body>
  <header class="header">
    {{>navbar}}
  </header>

<div class="mainImg">
  <div class="featured2">
    <img src="./images/hero.jpg" alt="">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
      fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
        stroke-linejoin="round" class="feather feather-award">
      <circle cx="12" cy="8" r="7"></circle>
      <polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88"></polyline>
    </svg>
    <div class="profile">
      <div class="profile-left">
        <img class="imgProfile" src="https://playtubescript.com/upload/photos/2018/02/lh6gXQzuRDzDYWpi4z2j_12_ada42da33b3d6dafc7b79ec3bd597781_image.png" alt="">
        <a href="">RAMPAGE - OFFICIAL TRAILER 1 [HD]</a>
      </div>
      <div class="profile-right">
        <p>300 Views</p>
        <div class="video-likes">
          <div class="video-likes-thumbs-up">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up">
                <path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path>
            </svg> <span class="likes" id="likes">8</span>
          </div>
          <div class="video-likes-thumbs-down">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down" style="margin-left: 10px;">
              <path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path>
            </svg> <span class="likes" id="dislikes">4</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <main class="container cf">
    {{{body}}}
  </main>


  <footer class="footer">
    {{>footer}}
  </footer>
  <script src="js/app.js"></script>
  {{#if importVid}}
  <script src="js/import.js"></script>
  {{/if}}
  </body>
  </html>
