<!DOCTYPE html>
<html lang="en">
<head>
  {{>header}}
</head>
<body>
  <header class="header">
    {{>navbar}}
  </header>

    {{{body}}}

  <footer class="footer">
    {{>footer}}
  </footer>
  </body>
  </html>
