<!DOCTYPE html>
<html lang="en">

<head>
  {{>header}}
</head>

<body>
  <header class="header">
    {{>navbar}}
  </header>

  {{{body}}}

  <footer class="footer">
    {{>footer}}
  </footer>

  <script src="/js/app.js"></script>
  <script src="/js/dom.js"></script>
  {{#if importVid}}
  <script src="/js/import.js"></script>
  {{/if}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.6/mediaelement-and-player.min.js"></script>
  <script src="/js/mediaPlayer.js"></script>
  </body>
  </html>
